<section class="about">
  <div class="container">
      <div class="about__content">

         <div class="about__about-top">
            <div class="about__info">
              <h2>О компании</h2>
              <p>
                BG LOGISTIC — это современный 3PL-провайдер, предоставляющий полный комплекс логистических услуг для бизнеса. Мы занимаемся логистикой больше 9 лет, всесторонне и гибко решаем задачи клиента и гарантируем результат с полной материальной ответственностью. Выстраиваем доверительные и долгосрочные отношения с партнёрами и развиваем культуру логистического аутсорсинга в России. 
                <br>
                <br>
                Мы храним доверие.
              </p>
            </div>

            <div class="about__video">

                <div class="about__view">
                  <!-- <img src="./img/video.jpg" alt="img"> при адаптиве видео на картинку менять -->
                  <video autoplay muted loop>
                    <source src="./video/190625_39_Timelapse_UHD_009.mp4" type="video/mp4">
                  </video>
                </div>

                <div class="about__play">
                    <p>Генеральный директор Иван Макарчук о компании</p>
                    <span></span>
                </div>
            </div>
         </div>

         <div class="about__dignity">
            <div class="about__item">
              <span class="about__number">100 000+ м²</span>
              <span class="about__text">общий объем складских помещений</span>
            </div>
            <div class="about__item">
                <span class="about__number">350+</span>
                <span class="about__text">компаний доверяют нам</span>
            </div>
            <div class="about__item">
                <span class="about__number">топ 5</span>
                <span class="about__text">по объемам складских площадей Санкт-Петербурга</span>
            </div>
            <div class="about__item">
                <span class="about__number">5</span>
                <span class="about__text">регионов присутствия в России</span>
            </div>
            <div class="about__item">
                <span class="about__number">220+</span>
                <span class="about__text">транспортных средств обрабатывается в сутки</span>
            </div>
            <div class="about__item">
                <span class="about__number">9 лет</span>
                <span class="about__text">предоставляем качественный сервис нашим клиентам</span>
            </div>
            <div class="about__item">
                <span class="about__number">40 минут</span>
                <span class="about__text">время погрузки-разгрузки крупнотоннажного транспорта</span>
            </div>
         </div>

         <div class="about__modal-video">
            <video controls>
              <source src="./video/190625_39_Timelapse_UHD_009.mp4" type="video/mp4">
            </video>
         </div>

      </div>
  </div>
</section>
