<section class="services">
  <div class="container">
      <div class="services__content">

          <h2>Услуги BG LOGISTIC</h2>

          <div class="services__logistic">

              <div class="services__item services__stock">
                  <a href="/">Складская логистика</a>

                  <ul>
                    <li>ответственное хранение,</li>
                    <li>кросс-докинг, ответственное хранение,</li>
                    <li>фулфилмент,</li>
                    <li>производственная логистика,</li>
                    <li>аутсорсинг профильного складского персонала,</li>
                    <li>инвентаризация склада,</li>
                    <li>складская обработка сборных грузов.</li>
                </ul>
              </div>

              <div class="services__item services__transport">
                  <a href="/">Транспортная логистика</a>
                  <ul>
                      <li>транспортно-экспедиционные услуги и мультимодальные грузоперевозки,</li>
                      <li>таможенное оформление,</li>
                      <li>переезд складов (под ключ),</li>
                      <li>перемещение сборных грузов (B2B).</li>
                  </ul>
              </div>

              <div class="services__item services__consulting">
                  <a href="/">Консалтинг</a>
                  <ul>
                      <li>логистический консалтинг,</li>
                      <li>комплексный логистический аудит,</li>
                      <li>внедрение WMS-систем.</li>
                  </ul>
              </div>

              <div class="services__item">
                  <span></span>
                  <p>Мы предоставляем комфортные условия сотрудничества в рамках одного контракта и по тарификации на основе юнит-экономики клиента. Вы можете выбрать несколько услуг сразу или каждую по отдельности.</p>
              </div>

          </div>

          

      </div>
  </div>
</section>
